<html>
  <head>
    <meta charset="UTF-8"/>
    <title>DDR-Navi:<%= shop.name %></title>
  </head>
  <body>
<% if(shop.image){ %>
 <img src="<%= shop.image %>" alt="<%= shop.image %>" width="<%= shop.imageWidth %>" height="<%= shop.imageHeight %>" />
<% } %>
    <dl>
 <dt>店舗名</dt>
 <dd><%= shop.name %></dd>
 <dt>店舗URL</dt>
 <dd><% if(shop.shopURL){ %><a href="<%= shop.shopURL%>"><%= shop.shopURL%></a><%}else{%>登録されていません<%}%></dd>
 <dt>店舗所在地</dt>
<dd>
 <a href="http://maps.google.co.jp/maps?q=<%= shop.lat %>,<%= shop.lng %>+(<%= encodeURI(shop.name)%>)&z=16&om=1">GoogleMap</a></dd>
 <dt>情報</dt>
 <dd style="border-style: solid; border-width 1px;"><%- shop.post %></dd>
 <dt>VER</dt>
 <dd><%= shop.version %></dd>
 <dt>台数</dt>
 <dd><%= shop.number %></dd>
 <dt>曲数・料金</dt>
 <dd><%- shop.priceSongs %></dd>
 <dt>リンク</dt>
 <dd><%= shop.links %></dd>
 <dt>Premium</dt>
 <dd><%= shop.premium %></dd>
 <dt>e-AMU</dt>
 <dd><%= shop.eamu %></dd>
    </dl>
  </body>
</html>
